<div class="d-flex flex-column p-3 text-white bg-secondary sidebar__content">
  <%= link_to "ðŸŒˆ ã€ç®¡ç†è€…ç”»é¢ã€‘ãƒ¡ãƒ¢ãƒˆãƒ¼ãƒ¼ã‚¯!", new_session_path(resource_name), class: "d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none"%>
  <hr>
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <%= link_to "ãƒ­ã‚°ã‚¤ãƒ³", new_session_path(resource_name), class: "nav-link fw-bold sidebar__link"%>
    </li>
  </ul>
</div>