<% content_for(:title, @room.name ) %>

<div class="card mt-5 mb-5">
  <div class="card-header">
     <%= @room.name %>
     <div class="text-end">
      タイトル: <%= @room.name %>
      </div>
  </div>
    
<h4>コメントする</h4>

</div>
