<div class="d-flex flex-column p-3 text-white bg-dark sidebar__content">
  <%= link_to "🌈メモトーーク!", new_session_path(resource_name), class: "fs-4 d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none"%>
  <hr>
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <%= link_to "ログイン", new_session_path(resource_name), class: "nav-link fw-bold sidebar__link"%>
    </li>
    <li class="nav-item">
      <%= link_to "サインアップ", new_registration_path(resource_name), class: "nav-link fw-bold sidebar__link"%>
    </li>
  </ul>
</div>