<p><%= @resource.email %>!</p>

<p>パスワードリセットを受け付けました。以下のリンクでパスワードの変更をお願いいたします。</p>

<p><%= link_to 'パスワードを変更する', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>パスワードリセットの申請に心当たりがない場合は、以降の対応は不要となります。</p>
